.news {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 18px;

  &__left {
    width: 406px;
    margin-right: 16px;

    &:hover .news__img {
      transform: scale(1.04);
    }
  }

  &__imgbox {
    width: 406px;
    height: 306px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 11px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
  }

  &__left-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  &__left-category,
  &__left-time {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #072D4B;

    i {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  &__left-time {
    opacity: 0.4;
  }

  &__dot {
    width: 2px;
    height: 2px;
    background-color: #2f9ff8;
    border-radius: 50%;
    margin: 0 6px;
  }

  &__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #072d4b;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  &__desc {
    font-size: 14px;
    line-height: 22px;
    color: #072d4b;
    opacity: 0.6;
    padding-left: 10px;
    margin-bottom: 18px;
  }

  &__aside {
    width: 100%;
    background-color: #2f9ff8;
    border-radius: 4px;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 18px;
    padding: 20px 0;
    margin-bottom: 18px;

    & i {
      font-size: 24px;
      margin-right: 17px;
    }
  }

  /* right part */

  &__list {
    width: 329px;
  }

  &__item {
    display: flex;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 12px 2px 12px 14px;
    margin-bottom: 15px;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 0px 2px 20px 5px rgba(7, 45, 75, 0.2);
    }

    &:hover .news__list-title {
      color: #0768b5;
    }
  }

  &__list-box {
    width: 232px;
  }

  &__list-time {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    color: #072d4b;
    opacity: 0.6;
    margin-bottom: 13px;

    i {
      transform: translateY(-1px);
      margin-right: 10px;
    }
  }

  &__list-line {
    display: block  &__left {
      width: 406px;
      margin-right: 16px;
    }
    background-color: #072d4b;
    margin: 0 10px;
    opacity: 0.6;
    transform: translateY(-1px);
  }

  &__list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #072d4b;
    transition: all 0.4s ease;
  }

  &__list-imgbox {
    width: 71px;
    height: 70px;
    overflow: hidden;
    border-radius: 4px;
  }

  &__list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  .news {
    display: block;
    padding: 11px;

    &__left {
      width: 100%;
      margin: 0;
      margin-bottom: 16px
    }

    &__imgbox {
      width: 100%;
      height: 236px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__desc {
     display: none;
    }

    &__aside {
      display: flex;
    }

    &__list {
      width: 100%;
    }

    // &__item {
    //   display: flex;
    //   justify-content: space-between;
    // }

    &__list-box {
      width: 74%;
      margin-right: 10px;
    }








  }
}